@layout('layouts.app')

@section('content')

<div class="container">
    <div class="content">
        <div class="not_found">
            <img src="/images/404.png" />
            <br>
            <a href="/" class="btn-danger">Go Back</a>
        </div>
    </div>
</div>

@endsection
